<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spotify.music"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="androidx.car.app.MEDIA_TEMPLATES"/>

    <queries>
        <package android:name="deezer.android.app"/>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="deezer-query"/>
        </intent>
    </queries>

    <application
        android:label="@string/app_name"
        android:icon="@android:drawable/ic_menu_more"
        android:allowBackup="false">

        <activity android:name="com.spotify.music.MainActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.MUSIC_PLAYER"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="open.spotify.com"/>
                <data android:scheme="http" android:host="open.spotify.com"/>
                <data android:scheme="spotify"/>
            </intent-filter>
        </activity>

        <activity android:name="com.spotify.music.DeezerTestActivity"
                  android:exported="true"/>

        <activity android:name="com.spotify.music.ConfigActivity"
                  android:exported="false"
                  android:label="@string/app_name"/>

        <service android:name="com.spotify.music.ShimMediaBrowserService"
                 android:exported="true"
                 android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>

        <meta-data android:name="com.google.android.gms.car.application"
                   android:resource="@xml/automotive_app_desc"/>
        <meta-data android:name="androidx.car.app.minCarApiLevel"
                   android:value="1"/>

        <service android:name="com.spotify.music.ShimCarAppService"
                 android:enabled="false"
                 android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService"/>
                <category android:name="androidx.car.app.category.MEDIA"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.car.app.media.MEDIA_SHOW_PLAYBACK_VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>
</manifest>
